
<main>
  <h2>List of Users</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Votes</th>
      <th>Joined</th>
    </tr>
    </thead>
    <tbody>
    <% @user.each do |user| %>
      <tr>
      <td><%= user.name %></td>
      <td><%= user.votes.count%></td>
      <td><%= user.date_joined%></td> 
      </td>
    <% end %>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-secondary" href="/">Back to Media List</a>
</main>
